.container{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(84,77,152,1) 57%, rgba(0,212,255,1) 100%);
}
body{
    background: rgb(203,203,203);
background: radial-gradient(circle, rgba(203,203,203,1) 0%, rgba(0,0,0,0.5662640056022409) 100%);
}